# Num�ro de port TCP d'�coute
controller-port = 12345
# Temps entre 2 requ�tes au-del� duquel un programme d�affichage est retir� du r�seau
display-timeout-value = 45
# Intervalle en secondes pour l'�change p�riodique de poisson. cf. commande GetFishesContinuously
fish-update-interval = 2
